
<div class="row justify-content-center col-lg-5 ">
    <div class="wrap col-8">
        <div class="table" *ngIf="club">


            <jhi-alert-error></jhi-alert-error>
            <ul>
                <li>
                    <div class="top purple white">
                         <h1>{{club.name}}</h1>
                        <div class="circle">$19</div>
                    </div>
                    <br>
                    <div class="bottom">
                <p><span jhiTranslate="insatApp.club.domain">Domain</span></p>

                    <span>{{club.domain}}</span>

                <p><span jhiTranslate="insatApp.club.president">President</span></p>

                    {{club.president?.login}}

                <p><span jhiTranslate="insatApp.club.member">Member</span></p>

                    <div *ngFor="let member of club.members; let last = last">
                        {{member.login}}{{last ? '' : ', '}}
                    </div>

                    </div>
                    <p>
                <div class="float-lg-right">

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info button">
                <fa-icon [icon]="'arrow-left'"></fa-icon>
            </button>

            <button type="button"
                    [routerLink]="['/club', club.id, 'edit']"
                    class="btn btn-primary button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>
            </button>

                </div>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
