<div>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-insat-event" [routerLink]="['/insat-event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="insatApp.insatEvent.home.createLabel">
            Create new Event
            </span>
        </button>

    <jhi-alert></jhi-alert>
    <div>
        <div class="col-lg-7">
            <form name="searchForm" class="float-right">
                <div class="input-group float-right">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'insatApp.insatEvent.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="table-responsive table-events" *ngIf="insatEvents">
        <h2 id="page-heading">
            <div class="header">
            <span jhiTranslate="insatApp.insatEvent.home.title">Insat Events</span>
            </div>

        <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
            <tr *ngFor="let insatEvent of insatEvents ;trackBy: trackId">
                <td><fa-icon [icon]="'calendar'"></fa-icon></td>
                <td><a [routerLink]="['/insat-event', insatEvent.id, 'view' ]">{{insatEvent.name}}</a></td>


                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/insat-event', insatEvent.id, 'view' ]"
                                class="btn btn-info btn-sm btn-">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" ></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/insat-event', insatEvent.id, 'edit']"
                                class="btn btn-primary btn-sm btn-">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" ></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'insat-event/'+ insatEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm btn-">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" ></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </h2>
    </div>
</div>
