<div>
    <h2 id="page-heading">
        <span>Slack Channels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-slack-channel" [routerLink]="['/slack-channel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Slack Channel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="slackChannels">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="channelId"><span>Channel Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamId"><span>Team Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="purpose"><span>Purpose</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isPrivate"><span>Is Private</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let slackChannel of slackChannels ;trackBy: trackId">
                <td><a [routerLink]="['/slack-channel', slackChannel.id, 'view' ]">{{slackChannel.id}}</a></td>
                <td>{{slackChannel.channelId}}</td>
                <td>{{slackChannel.teamId}}</td>
                <td>{{slackChannel.name}}</td>
                <td>{{slackChannel.purpose}}</td>
                <td>{{slackChannel.isPrivate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/slack-channel', slackChannel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/slack-channel', slackChannel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'slack-channel/'+ slackChannel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
