<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="integration">
            <h2><span>Integration</span> {{integration.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Access Token</span></dt>
                <dd>
                    <span>{{integration.accessToken}}</span>
                </dd>
                <dt><span>Scope</span></dt>
                <dd>
                    <span>{{integration.scope}}</span>
                </dd>
                <dt><span>Team Id</span></dt>
                <dd>
                    <span>{{integration.teamId}}</span>
                </dd>
                <dt><span>Team Name</span></dt>
                <dd>
                    <span>{{integration.teamName}}</span>
                </dd>
                <dt><span>Bot Id</span></dt>
                <dd>
                    <span>{{integration.botId}}</span>
                </dd>
                <dt><span>Bot Access Token</span></dt>
                <dd>
                    <span>{{integration.botAccessToken}}</span>
                </dd>
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{integration.userId}}</span>
                </dd>
                <dt><span>Team Url</span></dt>
                <dd>
                    <span>{{integration.teamUrl}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/integration', integration.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
