<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-left" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <fa-icon icon="bars"></fa-icon>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li ngbDropdown class="nav-item dropdown pointer lang" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <span ><img src="../../../content/images/eng.png" class="lang-img"></span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item test" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="bell"></fa-icon>
                         <span class="badge-sonar"></span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true">
                <a *jhiHasAnyAuthority="'ROLE_USER'" class="dropdown-item" routerLink="userhistory" routerLinkActive="active" (click)="collapseNavbar()">
                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                    <span >Usercalender</span>
                </a>
                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item" routerLink="history" routerLinkActive="active" (click)="collapseNavbar()">
                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                    <span >calender</span>
                </a>
            </li>
            <li class="nav-item test" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                <a class="nav-link" routerLink="admin/user-management" (click)="collapseNavbar()">
                    <span>
                         <i class="fa fa-cog"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item test" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                <a class="nav-link" routerLink="/" (click)="logout()">
                    <span>
                         <i class="fa fa-power-off"></i>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="false">
                <a class="nav-link" (click)="login()" id="login">
                    <span>
                        <i class="fas fa-sign-in-alt"></i> Sign in
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="false">
                <a class="nav-link"  routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                   <span>
                         <i class="fas fa-user-plus"></i> Sign up
                    </span>
                </a>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer profile" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                   <img src="../../../content/images/user.jpg" class="profile-img">
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span >Profile</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="invite" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="envelope" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.invite">invite user</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="key" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
