<div class="row">

    <div class="col-md-12">

        <div [ngSwitch]="isAuthenticated()">
            <h1 class="display-4" jhiTranslate="home.title" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">Welcome,
                Java Hipster!</h1>
            <p class="lead" jhiTranslate="home.subtitle" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">This is your
                homepage</p>
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>


            <div class="wrapper fadeInDown" *ngSwitchCase="false">
                <div id="formContent">
                    <!-- Tabs Titles -->

                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="../../content/images/logocolor.png" id="icon" alt="User Icon"/>
                    </div>

                    <!-- Login Form -->
                    <form style="margin-top: 5px" (ngSubmit)="login()">
                        <input type="text" class="fadeIn second" placeholder="login" name="username" id="username"
                               [(ngModel)]="username">

                        <input type="text" class="fadeIn third" placeholder="password" name="password" id="password"
                               [(ngModel)]="password">
                        <input type="submit" class="fadeIn fourth">
                    </form>

                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                        <a class="underlineHover" href="#">Create an account</a>
                    </div>

                </div>
            </div>

        </div>

        <p jhiTranslate="home.question" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
            If you have any question on JHipster:
        </p>

        <ul *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
        </ul>

        <p *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div>
</div>




